::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

#particles-js {
    /* background-image: linear-gradient(to right bottom, #362c49 , #1d172b); */
    /* background-image: linear-gradient(to right bottom, #423558 , #241c35); */
    background-image: linear-gradient(to right bottom, #4b3c64, #2c2241);
}