body {
  margin: 0;
  /* font:normal 75% Arial, Helvetica, sans-serif; */
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 98%;
  background-image: linear-gradient(to right bottom, #4d3d66, #241b36);
  /* background-image: url(""); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
}

#second-page {
  position: absolute;
  top: 98%;
  filter: blur(8px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  height: 200%;
  /* background-image: linear-gradient(to right bottom, #65606d, #4a4653); */
  background-image: url("https://irisshaders.net/images/backgrounds/iris-bkg-light.webp");
}

#scroll-down-button {
  position: inherit;
  padding: 0px;
  height: 40px;
  width: 40px;
  /* background-color: darkgray; */
  /* border-radius: 5px; */ /* makes the shape rounded */
  /* vertical-align: middle; */
  bottom: 20px;
  left: 50%;
  translate: -50% 0;
  /* overflow-clip-margin: content-box;
  overflow: hidden; */

}

#main-profile {
  position: absolute; 
  padding: 0px;
  /* height: 300px; */ /* Don't want these, even tho invisible they stop particles tracking */
  /* width: 200px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#avatar {
  position: absolute;
  padding: 0px;
  height: 200px;
  width: 200px;
  border-radius: 9999px;
  top: 50%;
  left: 50%;
  /* background-image: url(/images/avatar.png); */
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 10px;
  border-color: black;
  transition: opacity 1000ms ease-out, translate 500ms ease-out, transform 300ms ease-out !important;
  /* animation: fade-in 1s ease-out forwards; */
  /* cursor: pointer !important; */
  pointer-events: all;
  user-select: none;
  translate: -50% -96%; /* Bottom of the sphere is at the center plus taking into account the animation */
  box-shadow: 0px 2px 10px rgb(0, 0, 0);  
  z-index: 3; /* Pull out to the front */
}

#name {
  position: absolute;
  top: -20px;
  left: 50%;
  translate: -50% 0%; /* Top of the text box is at the center */
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 200%;
  transition: opacity 1s ease-out, top 1000ms ease-out !important;
  z-index: 2;
}

#tld {
  position: absolute;
  right: -12%;
  bottom: 60%;
  translate: 50% 50%; /* Top of the text box is at the center */
  font-family: 'Courier New', Courier, monospace;
  font-size: 50%;
  color: #67436b;
}

#avatar:hover {
  transform: scale(105%, 105%);
  will-change: transform;
} 
#avatar:active {
  transform: scale(95%, 95%);
  will-change: transform;
} 

/* 
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
} */

.fade {
  opacity: 0; /* fade in, js will handle */
  transition: opacity 1s ease-out;
}

#welcome-button {
  translate: -50% -50%;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 120px;
  height: 120px;


}


/* .fade, #avatar {
  transition: opacity 1s ease-out, transform 300ms ease-out !important;
} */


img {
  max-width: none !important;
}


.button {
  transition: transform 200ms ease-out, filter 200ms ease-out, border 100ms ease-out;
  color: #8b8b8b !important;
  font-size: 175%;
  border-radius: 10px;
  border-width: 1px;
  /* border-color: #dbdbdb7e;  */
  border-color: #ffffff5d !important;  
  /* border-color: rgb(60, 20, 94);  */
  /* background-color: #dbdbdb0a; */
  /* background-color: rgba(211, 211, 211, 0.199); */
  background-color: transparent;
  backdrop-filter: blur(1px);

}

.button:hover { 
  /* transform: scale(105%, 105%); */
  /* filter: brightness(120%); */ /* When blur is applied this changes the brightness of the background */
  color: hsl(0, 0%, 65%) !important;
  fill: hsl(0, 0%, 65%) !important;
  border-color: hsla(0, 0%, 100%, 0.465) !important;  

}

.button:active {
  transform: scale(95%, 95%);

  
} 

.center-horizontal {
  left: 50%;
  transform: translate(-50%, 0);
}

.center-vertical {
  left: 50%;
  transform: translate(0, -50%);
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}




.st-arrow{
  fill:#8b8b8b;
  animation: scrolly 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards infinite;
  perspective: 9000px;
  transform: translateZ(0);
  transform-origin: bottom;
}

.svg {z-index:9;position:relative;}





@keyframes scrolly {
0% {
  transform: translate3d(0,-150%,0) rotateX(90deg) scale(0.5) skewX(3deg);
}
30% {
  transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
}
70% {
  transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
}
95% {
  transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
}
100% {
  transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
}
}